streamlit==1.31.1

langchain==0.1.9
langchain-core==0.1.26
langchain-community==0.0.24
langchain-openai==0.0.7
langsmith==0.1.6

openai==1.12.0
tiktoken==0.12.0

wikipedia==1.4.0
beautifulsoup4==4.12.2
requests==2.31.0
